body {
  align-items: center;
  background-color: #0a1d37;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: Poppins, sans-serif;
  height: 100vh;
  justify-content: flex-start;
  margin: 0;
  overflow: auto;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.god-rays {
  --stripes: repeating-linear-gradient(
    100deg,
    rgb(20 40 60 / 80%) 0%,
    rgb(20 40 60 / 80%) 7%,
    transparent 10%,
    transparent 12%,
    rgb(20 40 60 / 80%) 16%
  );
  --rays: repeating-linear-gradient(
    100deg,
    rgb(30 50 90 / 90%) 10%,
    rgb(20 40 80 / 90%) 15%,
    rgb(30 50 90 / 90%) 20%,
    rgb(20 40 80 / 90%) 25%,
    rgb(30 50 90 / 90%) 30%
  );

  animation: fadeIn 2s ease;
  background-image: var(--stripes), var(--rays);
  background-position:
    50% 50%,
    50% 50%;
  background-size: 300%, 200%;
  height: 550px;
  left: 0;
  mask-image: radial-gradient(ellipse at 100% 0%, white 40%, transparent 70%);
  mask-image: radial-gradient(ellipse at 100% 0%, rgb(255 255 255 / 0%) 40%, transparent 70%);
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.god-rays::after {
  animation: god-rays 40s linear infinite;
  background-attachment: fixed;
  background-image: var(--stripes), var(--rays);
  background-size: 200%, 100%;
  content: '';
  inset: 0;
  mix-blend-mode: difference;
  position: absolute;
}

.search-container {
  background-color: #0a1d37;
  box-shadow: 0 4px 20px rgb(0 0 0 / 50%);
  left: 0;
  padding: 15px 0;
  position: fixed;
  text-align: center;
  top: 0;
  transition: background-color 0.3s;
  width: 100%;
  z-index: 1000;
}

.search-container input {
  background: #141414;
  border: 2px solid #fff;
  border-radius: 50px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 30%);
  color: #fff;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  padding: 12px 20px;
  transition: 0.3s;
  width: 50vw;
}

.search-container input:focus {
  background: #333;
  border-color: #06c;
  box-shadow: 0 0 15px rgb(0 102 204 / 40%);
  outline: none;
}

.game-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 120px;
}

.image-item {
  background-color: #222;
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgb(0 0 0 / 60%);
  height: 220px;
  overflow: hidden;
  position: relative;
  transition:
    transform 0.4s ease,
    box-shadow 0.4s ease,
    filter 0.4s ease;
  width: 250px;
}

.image-item:hover {
  box-shadow:
    0 10px 25px rgb(0 0 0 / 85%),
    0 0 30px rgb(0 0 0 / 60%);
  filter: brightness(0.9) contrast(1.1);
  transform: scale(1.05);
  z-index: 2;
}

.image-item a {
  border-radius: 10px;
  color: inherit;
  display: block;
  height: 100%;
  text-decoration: none;
  width: 100%;
}

.image-item img {
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.image-item img:hover {
  transform: scale(1.1);
}

.label {
  background-color: rgb(0 0 0 / 70%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  bottom: 0;
  color: white;
  font-size: 16px;
  font-weight: bold;
  left: 0;
  padding: 10px;
  position: absolute;
  right: 0;
  text-align: center;
  transition: background-color 0.3s;
}

.image-item:hover .label {
  background-color: rgb(0 0 0 / 90%);
}

.appImage {
  animation: fade-in-bottom 1s;
  opacity: 0;
}

.appsContainer {
  display: inline-flex;
  flex-flow: row wrap;
  gap: 20px;
  justify-content: flex-start;
  position: absolute;
  top: 65px;
  width: 1070px;
}

.appsContainer img {
  border-radius: 14px;
  cursor: pointer;
  height: 128px;
  object-fit: cover;
  transition: 0.2s ease-in-out !important;
  width: 198px;
}

.appsContainer img:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in-out !important;
}

.appsContainer img:active {
  outline: 2px solid var(--image-outline-color);
  transition: 0s;
}

.gameImage {
  animation: fade-in-bottom 1s;
  opacity: 0;
}

.appsContainer {
  opacity: 1;
}

.gameContain {
  display: inline-flex;
  flex-flow: row wrap;
  gap: 20px;
  justify-content: flex-start;
  position: absolute;
  top: 65px;
  width: 1070px;
}

.gameContain img {
  border-radius: 14px;
  cursor: pointer;
  height: 128px;
  object-fit: cover;
  transition: 0.2s ease-in-out !important;
  width: 198px;
}

.gameContain img:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in-out !important;
}

.gameContain img:active {
  outline: 2px solid var(--image-outline-color);
  transition: 0s;
}

.scrolltop {
  backdrop-filter: var(--scrolltop-backdrop-filter);
  background-color: var(--scrolltop-background-color);
  border-radius: 50%;
  bottom: 20px;
  height: 49px;
  opacity: 0;
  position: fixed;
  right: 20px;
  transition: 0.3s ease-in-out all;
  width: 49px;
  z-index: 9999;
}

.scrolltop:hover {
  transform: scale(1.1);
}

.scrolltop span.material-symbols-outlined {
  font-size: 30px;
  justify-content: center;
  transform: translateY(-10px);
}

.gameSearchInput,
.appsSearchInput,
#gointospace {
  padding-left: 40px;
}

.search-header {
  align-items: center;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.search-header__input {
  background-color: var(--input-background-color);
  border: solid 0.5px var(--border-color);
  border-radius: 25px;
  color: var(--text-color);
  font-family: 'DM Sans';
  font-size: 16px;
  height: 20px;
  margin-right: -2rem;
  opacity: 1;
  padding: 0.7rem 1rem;
  text-align: center;
  transition: all ease-in-out 0.5s;
  width: 240px;
}

.search-header__input:not(#gointospace2):hover,
.search-header__input:not(#gointospace2):focus {
  box-shadow:
    10px 5px 40px -10px var(--dshadow1),
    -14px -4px 40px -10px var(--dshadow2);
  padding-left: calc(+50px) !important;
  padding-right: calc(+50px) !important;
}

.search-header__input:focus {
  background-color: #0a0a0af0;
  outline: none;
}

.search-header__input::input-placeholder {
  color: #868686;
  font-family: 'DM Sans';
  font-weight: 200;
}

.search-header__input:focus + .search-header__button {
  background-color: transparent;
}

.search-header__button {
  background-color: transparent;
  border: none;
  margin-top: 0.1em;
}

.search-header__button:hover {
  cursor: pointer;
}

.search-header__icon {
  fill: #3a3a3a;
  height: 1.3em;
  width: 1.3em;
}

.searchEngineIcon {
  border-radius: 50%;
  height: 20px;
  margin-right: -35px;
  object-fit: cover;
  position: relative;
  width: 20px;
  z-index: 9999999;
}

.image-item {
  animation: slideInFromLeft 0.5s ease-out forwards;
  border-radius: 10px;
  height: 170px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s;
  width: 200px;
}

.image-item:hover {
  transform: scale(1.1);
}

.image-item a {
  color: inherit;
  display: block;
  height: 100%;
  text-decoration: none;
  width: 100%;
}

.image-item img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.label {
  background-color: rgb(0 0 0 / 50%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  bottom: 0;
  color: white;
  left: 0;
  padding: 5px;
  position: absolute;
  right: 0;
  text-align: center;
}

.randomGameOpensBtn {
  background-color: #141414;
  border: 1px solid white;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
  color: white;
  cursor: pointer;
  font-size: 16px;
  left: 20px;
  padding: 10px 20px;
  position: fixed;
  top: 20px;
  z-index: 9999;
}

.randomGameOpensBtn:hover {
  box-shadow: 0 8px 30px rgb(0 0 0 / 70%);
  transform: scale(1.05);
}

.filter-container {
  background-color: #141414;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgb(0 0 0 / 50%);
  padding: 10px;
  position: fixed;
  right: 20px;
  top: 5px;
  z-index: 1000;
}

.filter-container select {
  background-color: #222;
  border: 2px solid #fff;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px;
  transition: 0.3s;
}

.filter-container select:hover {
  background-color: #333;
}

.ad-container-horizantal {
  background-color: #000e24;
  border: 3px solid red;
  height: 200px;
  width: 100%;
  z-index: -2;
}
